.SongItem {
  cursor: pointer;
  padding: 1em;
  display: grid;
  grid-template:  "name delete" auto /
                  1fr auto;
  gap: 0.5em;
  align-items: center;
}

.SongItem:hover {
  background: rgba(255, 128, 128, 0.1);
}

.SongItem-name {
  margin: 0;
  grid-area: name;
}

.RecentProjectItem-delete {
  grid-area: delete;
  font-size: 1.2rem;
}