.SongItem {
  padding: 1em;
  display: grid;
  grid-template:  "name buttons" auto /
                  1fr auto;
  gap: 0.5em;
  align-items: center;
}

.SongItem-name {
  margin: 0;
  grid-area: name;
}

.SongItem-action {
  transform: scale(1.2);
}
.SongItem-action:not([disabled]):active {
  transform: scale(1.1);
}