.SongItem {
  padding: 1em;
  display: grid;
  grid-template:  "name buttons" auto /
                  1fr auto;
  gap: 0.5em;
  align-items: center;
}

.SongItem-name {
  margin: 0;
  grid-area: name;
}

.SongItem-menu-text {
  margin: 0;
}

.SongItem-menu-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding-right: 0.4rem;
}

.SongItem-menu-button:not([disabled]):hover, .Button-transparent:not([disabled]):focus-visible {
  transform: scale(1.02);
}
.SongItem-menu-button:not([disabled]):active {
  transform: scale(1);
}
