.Button, .Button-transparent {
  padding: 0.3rem 1rem;
  border-radius: 0;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.Button {
  background: var(--primary);
  color: white;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.2), inset 0 1px 1px rgb(255, 255, 255, 0.2);
}

.Button-transparent {
  opacity: 0.6;
  color: inherit;
  background: none;
}

.Button:not([disabled]), .Button-transparent:not([disabled]) {
  cursor: pointer;
}

.Button:not([disabled]):hover, .Button:not([disabled]):focus-visible {
  filter: brightness(1.1);
  transform: scale(1.05);
  box-shadow: 0 2px 3px rgb(0, 0, 0, 0.2), inset 0 1px 1px rgb(255, 255, 255, 0.3);
}
.Button:not([disabled]):active {
  filter: brightness(1.2);
  transform: scale(1);
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.2), inset 0 1px 1px rgb(255, 255, 255, 0.2);
}

.Button:disabled {
  opacity: 0.6;
  box-shadow: 0 1px 1px rgb(0, 0, 0, 0.2);
}

.Button-transparent:disabled {
  opacity: 0.2;
}

.Button-transparent:not([disabled]):hover, .Button-transparent:not([disabled]):focus-visible {
  opacity: 1;
  background: rgba(255, 128, 128, 0.2);
}
.Button-transparent:not([disabled]):active {
  transform: scale(0.9);
}

.Button-rounded {
  border-radius: 100vmax;
}

.Button-circle {
  padding: 0;
  border-radius: 100%;
  aspect-ratio: 1;
  min-width: 2rem;
  display: flex;
}

.Button-transparent-destructive {
  opacity: 1;
  color: var(--destructive);
}

.Button-transparent-destructive:not([disabled]):hover, .Button-transparent-destructive:not([disabled]):focus-visible {
  background: rgba(220, 51, 70, 0.4);
}