.RecentProjectItem {
  cursor: pointer;
  padding: 1em;
  display: grid;
  grid-template:  "name delete" auto
                  "path delete" auto /
                  1fr auto;
  gap: 0.5em;
  align-items: center;
}

.RecentProjectItem:hover {
  background: rgba(240, 161, 176, 0.05);
}

.RecentProjectItem-name {
  margin: 0;
  grid-area: name;
}

.RecentProjectItem-path {
  margin: 0;
  font-size: 0.8em;
  opacity: 0.4;
  grid-area: path;
}

.RecentProjectItem-remove {
  grid-area: delete;
  font-size: 1.2rem;
}