.RecentProjectItem {
  cursor: pointer;
  padding: 1em;
  display: grid;
  grid-template:  "name delete" auto
                  "path delete" auto /
                  1fr auto;
  gap: 0.5em;
}

.RecentProjectItem:hover {
  background: rgba(255, 128, 128, 0.1);
}

.RecentProjectItem-name {
  margin: 0;
  grid-area: name;
}

.RecentProjectItem-path {
  margin: 0;
  font-size: 0.8em;
  opacity: 0.4;
  grid-area: path;
}

.RecentProjectItem-delete {
  grid-area: delete;
  align-self: center;
  font-size: 1.2rem;
}