* {
  box-sizing: border-box;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  user-select: none;
  background: var(--bg-color);
  color: var(--text-color);
  --primary: #e24462;
  --destructive: #d0233b;
}

body {
  margin: 0;
}

html, body, #root {
  height: 100vh;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #382e30;
    --border-color: #4e4043;
    --bg-color-light: #483b3d;
    --border-color-light: #5c4c4e;
    --text-color: white;
  }
}

@media (prefers-color-scheme: light) {
  html {
    --bg-color: #dfd3d0;
    --border-color: #efe3e0;
    --bg-color-light: #f3efef;
    --border-color-light: #e3dede;
    --text-color: black;
  }
}