<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>VampLab Project</string>
			<key>LSItemContentTypes</key>
			<array>
			    <string>dev.pulmunyi.vamplab-project</string>
			</array>
            <key>CFBundleTypeIconFile</key>
            <string>vamp.icns</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>dev.pulmunyi.vamplab-project</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.json</string>
            </array>
            <key>UTTypeDescription</key>
            <string>VampLab Project</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>vamplab</string>
                    <string>vamp</string>
                </array>
            </dict>
            <key>UTTypeIconFile</key>
            <string>vamp.icns</string>
        </dict>
    </array>
</dict>
</plist>